<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Nuevos Clientes</title>
</head>
<body>
    <h1>Registrar Nuevos Clientes</h1>
    <form action="/validar" method="post">
        Nombre Cliente:
        <input type="text" name="txtnombre" id="txtnombre" size="100" maxlength="100"><br>
        Dirección:
        <input type="text" name="txtdireccion" id="txtdireccion" size="80" maxlength="80"><br>
        DNI:
        <input type="text" name="txtdni" id="txtdni" size="10" maxlength="8"><br><br>
        <input type="submit" value="Registrar Cliente">
        <input type="reset" value="Nuevo Cliente">

    </form>
</body>
</html>