<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/public/css/AboutUs.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <figure>
                <img src="/public/img/empresario.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Conocenos</h3>
                <p>ALTARED es una empresa apasionada por la creación y distribución de productos naturales de alta calidad. 
                    Nuestra misión es proporcionar a nuestros clientes opciones naturales y 
                    saludables para mejorar sus vidas y cuidar de sí mismos y del planeta.</p>
                <a href="#">Leer mas</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="/public/img/farmaceutico.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Nuestra Mision</h3>
                <p>En ALTARED, nos comprometemos a brindar a las personas productos que 
                    respalden un estilo de vida más saludable y sostenible. 
                    Nuestra visión es transformar la forma en que las personas 
                    se cuidan a sí mismos, ofreciendo soluciones naturales y efectivas.
                </p>
                <a href="#">Leer mas</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="/public/img/insumos.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Nuestros Productos</h3>
                <p>Ofrecemos una amplia gama de productos naturales, que incluyen suplementos nutricionales, 
                    productos de belleza y cuidado personal, alimentos orgánicos y productos para el hogar ecológicos
                    elaborado con ingredientes naturales de alta calidad.
                </p>
                <a href="#">Leer mas</a>
            </div>
        </div>
    </div>
</body>
</html>